.hosts {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.host {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    border-right: 1px solid #e2e2e2;
}
.last {
    border-right: 0px;
}
.host img {
    width: 100px;
    height: 100px;
    margin-bottom: 5%;
    align-self: center;
}
.host a {
    color: #f66233;
    text-decoration-line: none;
    align-self: center;
}
.host span{
    align-self: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.host button {
    background: #f66233;
    color: white;
    border: none;
    width: 30%;
    height: 3vh;
    align-self: center;
}