.b {
    width: 100%;
    height: 2.4vh;;
    border: 0.4vw solid black;
    border-radius: 50px;
    background: linear-gradient(rgba(0,0,0,0.8), darkgray);
    margin-top: 3vh;
    position: relative;
}
.b::before {
    content: '';
    position: absolute;
    height: 100%;
}
.progress::before {
    width: 30%;
    background: #3e92ec;
    border-radius: 50px 0 0 50px;
    box-shadow:  0.5vw 0vh 1vw black;
    outline: 0.3vh solid #3877bd;
}