.body-image {
    background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/e52fd3fef67e50928b010681/-min.jpg");
    width: 854px;
    height: 854px;
    background-position: 50% 50%;
    margin: 40px auto 0;
    border-radius: 50%;
}
.site-body img {
    width: 590px;
    height: 570px;
    pointer-events: initial;
    position: relative;
    margin: -53% auto 3% 20%;
}
.list {
    display: grid;
    width: 506px;
    min-height: 471px;
    grid-template-columns: 100%;
    height: auto;
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    position: relative;
    margin: 51px auto 0 50%;
}
.string {
    color: black;
    display: flex;
    position: relative;
    text-align: left;
    padding: 20px 30px 20px 20px;
    flex: 1;
    max-width: 100%;
    align-items: center;
}
.string img {
    height: 64px;
    width: 64px;
    margin: 0 20px;
    display: block;
    line-height: 0;
    border-width: 0px;
}
.string p {
    font-style: italic;
    word-wrap: break-word;
    position: relative;
    padding: 0;
}
.site-body h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 4.5rem;
    margin: 40px auto 0;
    font-family: Merriweather, serif;
    color: #0045be;
    word-wrap: break-word;
    position: relative;
}
.site-body .hech{
    pointer-events: initial;
    margin-left: 93px;
    margin-right: 93px;
    font-size: 3.4375rem;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    padding: 0;
    color: #859b2f;
    word-wrap: break-word;
    position: relative;
}
.boxes {
    display: grid;
    position: relative;
    pointer-events: initial;
    min-height: 515px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 33.3333px));
    width: 940px;
    height: auto;
    grid-gap: 50px;
    margin: -239px auto 0;
}
.box {
    background-color: white;
    padding: 20px;
    position: relative;
    flex: 1;
    max-width: 100%;
    text-align: left;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.box h4 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 0;
    padding: 0;
    word-wrap: break-word;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    color: inherit;
}
.box p {
    word-wrap: break-word;
    position: relative;
    display: table;
    pointer-events: initial;
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}
.box img {
    height: 76px;
    width: 76px;
    margin: 20px 0 0;
    border-radius: 50%;
    filter: hue-rotate(242deg);
}
.site-body a {
    color: blue;
    cursor: pointer;
}
.link{
    display: flex;
    justify-content: center;
    pointer-events: initial;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px auto 60px;
    word-wrap: break-word;
    position: relative;
}
.bottom {
    color: white;
    background-color: #333333;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    height: 166px;
    display: flex;
    align-items: center;
}
.bottom p {
    width: 417px;
    margin: 49px auto 49px auto;
    font-size: 0.875rem;
    line-height: 1.6;
}
.niz {
    font-family: 'Open Sans',sans-serif;
    font-size: 0.8rem;
    line-height: 1.6;
    background-color: #333333;
    text-align: center;
    padding: 3em;
    color: white;
    margin: 0;
}
.niz a {
    color: #9fc1fc;
}
.top {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 100px 0 100px;
}
.logo a{
    display: block;
    max-width: 64px;
    max-height: 64px;
    margin: 22px auto 0 0;
}
.top nav {
    width: auto;
    margin: -32px 0 22px auto;
}
.top nav a {
    padding: 10px 20px;
    font-size: 1rem;
    letter-spacing: 0px;
    text-decoration-line: none;
}
.pa1, .pa4 {
    color: black;
}
.pa1:hover, .pa4:hover {
    color: #db545a ;
}
.pa2, .pa3 {
    color: #0045be;
}
