.weather_row {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
.weather_day {
    width: 13%;
    font-size: 3vh;
    margin-right: 0.3vh;
}
.weather_day:hover {
    box-shadow: 0 0 5px 1px black;
}
.weather_image {
    padding: 1.7vh;
    overflow: hidden;
    text-align: center;

}
.weather_top {
    background: #0097B9;
    color: white;
    text-align: center;
    padding: 0.23vh;
}
.weather_bottom {
    text-align: center;
    font-size: 1.3em;
}