.hide {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.hide img {
    opacity: 0;
}

.hide button {
    height: 30px;
    width: 100px;
    margin-top: 10%;
    margin-left: 5px;
    border-radius: 10%;
    border-color: black;
    background-color: rgba(192, 192, 192, 0.3);
    font-weight: bold;
}

.hide button:hover + img {
    opacity: 1;
}
